
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


html {
    font-size: 100%;
}

body {
    font-family: 'PlayfairDisplay-Bold' 'Roboto-Light', -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
}


.navigation a {
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
    display: block;
    font-family: 'PlayfairDisplay-Bold' ;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
}

.navigation {
    background-color:lightgray;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.navigation a:hover {
    background-color: gray;
}