
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




html {
    font-size: 100%;
    background-color: #F4F4F4;
}



body {
    font-family: 'PlayfairDisplay-Bold' 'Roboto-Light', -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin: 0;
}


h1 , h2 {
    color: #4F585B;
    font-family: 'PlayfairDisplay-Bold';
}

nav {
    align-items: center;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 8px #D9D9D9 ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px;
    
}

.nav-ul {
    align-items: center;
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

.nav-ul li a {
    color: #4F585B;
    display: inline-block;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
}

.nav-ul li a:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1, 1.1);
    color: #bbdc4c;
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #4F585B;
    cursor: pointer;
    display: none;
    font-size: 30px;
}

.hamburger:focus {
outline: none;
}

.container img {
    padding-bottom: 0.3rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
}

.introduction {
    font-weight: 800;
    margin: 1rem;
    padding-top: 3rem;
}






@media screen and (max-width: 750px) {


    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;

    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }


    .logo {
        width: 80px;
    }

    .nav-ul li a {
        padding: 10px;
    }


}




/* Home */

hr {
    border-style: inset;
    border-width: 0.8px;
    color: #F4F4F4;
    display:block;
    height: 0;
    margin-top: -1rem;
    width: 25%;
}

.section-header {
    align-items: inherit;
    height: auto;
    justify-content: inherit;
}

.photo img {
    display: block;
    width: 100%;
}

.introduction {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.introduction2 {
    width: 100%;
    margin-top: -2rem;
    height: 22rem;
    background-color: #4F585B;
}

.introduction2 h2 {
    color: #F4F4F4;
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center;
}

.introduction2 p {
    color: #F4F4F4;
    font-family: 'Montserrat-Thin';
    font-size: 1rem;
    line-height: 2.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    text-align: left;
}


.homecontent {
    background-attachment: fixed;
    background-color: #F4F4F4;
    background-color: #F4F4F4;
    background-image: url('images/cityhall.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    padding-top: 1rem;
}


.button {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 3rem;

    
}

.homecontent button:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.1, 1.1);
}

.homecontent button {
    background-color: #D8Dbd8;
    border: 0.6rem;
    box-shadow: 6px 6px 3px grey;
    color: #4F585B;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 1rem;
    padding: 1rem;
    width: 200px;
    opacity: 0.85;
}




/* Media query for content on home page  */

@media screen and (min-width: 460px) {


    .introduction2 p {
        font-size: 1.3rem;
        line-height: 2.3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        text-align: left;
    }

}



@media screen and (min-width: 700px) {


    #header h1 {
        font-size: 3rem;
    }

    #header2 h2 {
        font-size: 2rem;
    }

    .introduction {
        margin-left: 3rem;
    }

    .introduction2 h2, .introduction2 hr {
        grid-area: sidebar;
    }

    .introduction2 h2 {
        font-size: 3rem;
        padding-left: 4rem;
        padding-top: 5rem;
        text-align: center;
    }

    .introduction2 hr {
        display: hidden;
    }

    .introduction2 {
        width: 100%;
        margin-top: -2rem;
        height: 25rem;
        background-color: #4F585B;
    }

    .introduction2 p {
        font-size: 1.4rem;
        grid-area: main;
        line-height: 2.5rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        padding-right: 4rem;
        margin-top: 4rem;
    }

    .introduction2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'sidebar main main';
        column-gap: 2rem;
    }

    .homecontent {
        background-attachment: fixed;
        background-color: #F4F4F4;
        background-color: #F4F4F4;
        background-image: url('images/cityhall2.png');
        background-position: right;
        background-repeat: no-repeat;
        background-size: 50%;
    }


}

@media screen and (min-width: 768px) {

    .introduction {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .introduction2 p {
        font-size: 1.3rem;
        line-height: 2.8rem;
        margin-right: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        text-align: left;
    }

    .button {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
        padding-top: 10rem;
        
    }
    
    .homecontent button {
        background-color: #D8Dbd8;
        border: 0.6rem;
        box-shadow: 6px 6px 3px grey;
        color: #4F585B;
        font-family: 'PlayfairDisplay-Bold';
        font-size: 1.2rem;
        padding: 1rem;
        width: 200px;
    }
    

}


@media screen and (min-width: 1080px) {

    #header h1 {
        font-size: 4rem;
    }

    #header2 h2 {
        font-size: 3rem;
    }

    .introduction2 h2, .introduction2 hr {
        grid-area: sidebar;
    }

    .introduction2 h2 {
        font-size: 4rem;
        padding-left: 3rem;
        padding-top: 5rem;
        text-align: center;
    }

    .introduction2 hr {
        display: hidden;
    }

    .introduction2 p {
        font-size: 2rem;
        grid-area: main;
        line-height: 3.3rem;
        margin-bottom: 3rem;
        margin-left: 2rem;
        margin-top: 4rem;
    }

    .introduction2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'sidebar main main';
        column-gap: 2rem;
    }

    .introduction2 {
        width: 100%;
        margin-top: -2rem;
        height: 28rem;
        background-color: #4F585B;
    }

}

/* About */



.about {
    background-color: #D8Dbd8;
    margin-bottom: -18px;
}

.about-intro {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.about-intro h1 {
    color: #4F585B;
    text-align: center;
    text-shadow: 1px 1px 1px darkgrey;
}

.about-intro img {
    align-items: center;
    background-color: #D8DBD8;
    display: flex;
    justify-content: center; /* align horizontal */
}

.about-intro img {
    padding-top: 2rem;
    margin-left: 2.2rem;
    margin-right: 2.2rem;
}

#arrow img {
    opacity:0;
    position: absolute;
}

.aboutcontent p {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    font-size: 1.3rem;
    line-height: 2.6rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    padding-top: 2rem;
}

.about {
    padding-bottom: 4rem;
}

/* Media query for about page */

@media screen and (min-width: 768px) {

.about-intro h1 {
    grid-area: title;
}

.about-intro img {
    grid-area: img;
}

.about-intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    'title img';
    column-gap: 1rem;
}

.about-intro img {
    align-items: right;
    display: flex;
    justify-content: right;
    padding-left: 4rem;
    width: 70%;
}

.about-intro hr {
    opacity: 0;
}

.about-intro h1 {
    font-size: 3rem;
    padding-left: 3.5rem;
    padding-top: 0.8rem;
    text-align: left;
}

#arrow img {
    background-color: transparent;
    left: 80px;
    opacity: 1;
    position: absolute;
    top: 210px;
    width: 40%;
}

}

@media screen and (min-width: 805px) {

    #arrow img {
        background-color: transparent;
        left: 150px;
        opacity: 1;
        position: absolute;
        top: 210px;
        width: 40%;
    }

    .aboutcontent p {
        color: #4F585B;
        font-family: 'Montserrat-Light';
        font-size: 1.7rem;
        line-height: 2.8rem;
        padding-left: 2.4rem;
        padding-right: 2.4rem;
        padding-top: 3rem;
    }
}

@media screen and (min-width: 1080px) {

    .about-intro h1 {
        font-size: 3.8rem;
        padding-left: 3.5rem;
        padding-top: 0.8rem;
        text-align: left;
    }
}


/* Resume */

.resume {
    margin: 0 auto;
    padding-top: 2rem;
}

.resume h1 {
    color:#4F585B;
    font-family: 'PlayfairDisplay-Regular';
    text-align: center;
    text-shadow: 1px 1px 0.8px darkgrey;
}

.resume h3 {
    background-color: #D8Dbd8;
    box-shadow: 1px 1px 3px darkgrey;
    color: #4F585B;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.resume p {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    font-size: 0.9rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.resume h4, h5 {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;

}
.resume p {
    line-height: 2rem;
}

#hr-resume {
    padding: 1.3rem;
}

.resume li {
    font-family: 'Montserrat-Light';
    font-size: 0.9rem;
    line-height: 1.3rem;
    line-height: 2rem;
    list-style-type: none;
    margin-left: -5px;
    margin-right: 1rem;
    padding-bottom: 0.3rem;
}

.items {
  columns: 2;
  display: flex;
  flex-wrap: wrap;
}

.items .item {
  flex: 50% 50%;
  box-sizing: border-box;
}

.member {
    padding-bottom: 2rem;
}


/* Media Query for Resume */

@media screen and (min-width: 650px) {

    .resume h1 {
        font-size: 2.5rem;
    }
    
    .resume h3 {
        font-size: 2rem;
    }

    .resume p {
        margin-left: 2rem;
        line-height: 2.3rem;
        font-size: 1.2rem;
        
    }

    .resume li {
        font-family: 'Montserrat-Light';
        font-size: 1.2rem;
        line-height: 1.3rem;
        line-height: 2rem;
        list-style-type: none;
        margin-left: -5px;
        margin-right: 1rem;
        padding-bottom: 0.3rem;
    }

    .resume h4 {
        font-size: 1.4rem;
        font-weight: bold;
        margin-left: 2rem;
        margin-right: 1rem;
    }

    .resume h5 {
        font-size: 1.2rem;
        font-weight: bold; 
        margin-left: 2rem;
        margin-right: 1rem;
    }
}

.resume h1 {
    grid-area: header;
}

.education {
    grid-area: education;
}

.projects {
    grid-area: projects;
}

.projects2 {
    grid-area: projects2
}

.skills {
    grid-area: skills;
}

.work {
    grid-area: work;
}

.coursework {
    grid-area: coursework;
}

.honors {
    grid-area: honors;
}

.member {
    grid-area: member;
}


@media screen and (min-width: 900px) {
    .resume {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'header header'
        'education skills'
        'projects projects'
        'work work'
        'coursework honors'
        'member .';
        gap: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .skills p {
        line-height: 3rem;
    }

    .work h4, .projects h4{
        padding-top: 1rem;
    }

    .resume h3 {
        background-color: transparent;
        box-shadow: none;
        text-decoration: underline #bbdc4c 0.2rem;
    }



}

/* Work */

.workcontent {
    background-color: #4F585B;
    margin-bottom: -30px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    width: 100%;
}

.workcontent h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: underline #bbdc4c;
}

.workcontainer1 h2:hover {
    color: #D8DBD8;
}

.workcontainer2 h2:hover {
    color: #D8DBD8;
}


.worktitle h1 {
    color: #4F585B;
    font-family: 'PlayfairDisplay';
    padding-bottom: 2rem;
    padding-top: 2rem;
    text-align: center;
}


.worktitle {
    background-color: #D8DBD8;
    grid-area: title;
}

.caption h2, .caption2 h2 {
    color: #F4F4F4;
    font-family: 'Montserrat-Thin';
    font-size: 1.3rem;
    text-align: center;
}

.caption2 h2 {
    padding-bottom: 3rem;
}

.workcontent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  width: 70%;
}

.workcontainer1 {
    align-items: center;
    display: flex;
    grid-area: philm;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
}

.workcontainer2 {
    align-items: center;
    display: flex;
    grid-area: pr;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 5rem;
}

@media screen and (min-width: 600px) {

    .worktitle h1 {
        font-size: 3rem;
    }

    .workcontent img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        width: 100%;
      }

      .prlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        width: 85%;
      }

      .caption h2, .caption2 h2 {
          font-size: 2rem;
      }
}


@media screen and (min-width: 900px) {
    .workcontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'title title'
        'philm pr';
        gap: 1rem;
    }

}

.prlogo img {
    width: 70%
}

/* Philm Page */

.back {
    margin-left: 2rem;
    padding-top: 2.5rem;
}

.philm_intro , .philmintro2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philmintro2  {
    padding-bottom: 3rem;
}



.philm_intro img {
    padding-top: 3.5rem;
    width: 50%;
}


.philm_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.philm_content p, .philmintro2 {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.philm_content img {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    width: 80%;
}


@media screen and (min-width: 550px) {

    .philm_content p, .philmintro2 p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        
    }

}

@media screen and (min-width: 768px) {

    .philm_intro img {
        padding-bottom: 2rem;
        width: 40%;
    }

    .philmintro2 h1 {
        font-size: 3rem;
    }

    .philm_content p, .philmintro2 p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        vertical-align: middle;
        margin-left: 3rem;
        margin-right: 3rem;
        
    }
    
}

@media screen and (min-width: 950px) {

    .philm_content p, .philmintro2 p {
        font-size: 1.7rem;
        line-height: 3.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
        width: 80%;
    }
}

.philmsketches {
    grid-area: a;
}

#caption1 {
    grid-area: b;
}

.philmwireflow {
    grid-area: c;
}

#caption2 {
    grid-area: d;
}

.philmrebrand {
    grid-area: e;
}

#caption3 {
    grid-area: f;
}

.philmartboard {
    grid-area: g;
}

#caption4 {
    grid-area: h;
}

.philmtaskflow {
    grid-area: i;
}

#caption5 {
    grid-area: j;
}

.philmguide {
    grid-area: k;
}

#caption6 {
    grid-area: l;
}


@media screen and (min-width: 1080px) {

    .philm_intro img {
        width: 30%;
    }

    .container2 {
        background-color: #4F585B;
        padding-top: 6rem;
        margin-bottom: -20px;
    }


    .philmintro2 {
        padding-bottom: 4rem;
    }

    .philm_content p {
        color: #F4F4F4;
        font-size: 1.6rem;
        line-height: 3.2rem;
        margin-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .philm_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 1rem;
        grid-template-areas:
        'a b'
        'c d'
        'e f'
        'g h'
        'i j'
        'k l'
    }

    .philm_content img {
        margin-left: 2rem;
        padding-left: 2.5rem;
        width: 70%;
        border-width: 20px;
        border-color: green;
    }

    .philmsketches img {
        padding-bottom: 2rem;
        width: 65%;
    }
}








/* PR Page */

.pr_intro, .pr_intro2 , .pr_content p {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pr_intro2 h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.pr_intro2 {
    padding-bottom: 2rem;
}


.pr_intro img {
    padding-top: 3.5rem;
    width: 50%;
}


.pr_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.pr_content p, .pr_intro2 p {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    font-size: 1rem;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-left: 0.87rem;
    padding-right: 0.7rem; 
}

.pr_content img {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    width: 80%;
}

@media screen and (min-width: 550px) {

    .pr_content p, .pr_intro2 p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        vertical-align: middle;
        margin-left: 2rem;
        margin-right: 2rem;
        
    }

}


@media screen and (min-width: 768px) {

    .pr_intro2 p, .pr_content p {
        font-size: 1.6rem;
        line-height: 2.8rem;
        vertical-align: middle;
        margin-left: 3rem;
        margin-right: 3rem;
        
    }

}


@media screen and (min-width: 1080px) {

    .prweb {
        grid-area: a_;
    }
    
    #captiona {
        grid-area: b_;
    }
    
    .prsketch {
        grid-area: c_;
    }
    
    #captionb {
        grid-area: d_;
    }
    
    .prwireframes {
        grid-area: e_;
    }
    
    #captionc {
        grid-area: f_;
    }
    
    .prlayers {
        grid-area: g_;
    }
    
    #captiond {
        grid-area: h_;
    }
    
    .prfinished {
        grid-area: i_;
    }
    
    #captione {
        grid-area: j_;
    }
    
    .prevaluation {
        grid-area: k_;
    }
    
    #captionf {
        grid-area: l_;
    }
    
    .prradar {
        grid-area: m_;
    }
    
    #captiong {
        grid-area: n_;
    }


    .pr_intro img {
        width: 30%;
    }

    .pr_content {
        background-color: #4F585B;
        padding-top: 6rem;
        margin-bottom: -20px;
    }

    .pr_intro2 {
        padding-bottom: 4rem;
    }

    .pr_content p {
        color: #F4F4F4;
        font-size: 1.6rem;
        line-height: 3.2rem;
        margin-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .pr_intro2 p {
        color: #4F585B;
        font-size: 1.6rem;
        line-height: 3.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 1.5rem;
        padding-top: 1.5rem;
    }

    .pr_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        row-gap: 1rem;
        grid-template-areas:
        'a_ b_'
        'c_ d_'
        'e_ f_'
        'g_ h_'
        'i_ j_'
        'k_ l_'
        'm_ n_'
    }

    .pr_content img {
        margin-left: 2rem;
        padding-left: 2.5rem;
        width: 70%;
        border-width: 20px;
        border-color: green;
    }


}



.footer {
    background-color: #4F585B;
    height: 6rem;
}

.footer p {
    color: #F4F4F4;
    font-family: 'Montserrat-Light';
    padding-top: 2rem;
    text-align: center;
}

.footer  {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    justify-content: center;
}

.footer a:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.2, 1.2);
}


