
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('./fonts/PlayfairDisplay-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('./fonts/Roboto-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('./fonts/Roboto-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('./fonts/Montserrat-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./fonts/Montserrat-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}




html {
    font-size: 100%;
    background-color: #F4F4F4;
}



body {
    font-family: 'PlayfairDisplay-Bold' 'Roboto-Light', -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, 'Open Sans', 'Helvetica Neue', 
    sans-serif;
    margin: 0;
}


h1 , h2 {
    font-family: 'PlayfairDisplay-Bold';
    color: #4F585B;
}

nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #F4F4F4;
    box-shadow: 2px 2px 8px #D9D9D9 ;
    
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}

.nav-ul li a {
    display: inline-block;
    color: #4F585B;
    font-family: 'PlayfairDisplay-Bold';
    padding: 10px 20px;
    text-decoration: none;
    font-size: 20px;
}

.hamburger {
    cursor: pointer;
    display: none;
    background-color: transparent;
    border: 0;
    color: #4F585B;
    font-size: 30px;
}

.hamburger:focus {
outline: none;
}

.introduction {
    padding-top: 3rem;
    margin: 1rem;
    font-weight: 800;
}



@media screen and (max-width: 750px) {


    .nav-ul {
        flex-direction: column;
        display: none;
        width: 100%;

    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }


    .logo {
        width: 80px;
    }

    .nav-ul li a {
        padding: 10px;
    }


}



/* Home */

hr {
    display:block;
    border-style: inset;
    border-width: 0.8px;
    width: 25%;
    height: 0;
    color: #F4F4F4;
    margin-top: -1rem;
}

.section-header {
    height: auto;
    justify-content: inherit;
    align-items: inherit;
}

.photo img {
    width: 100%;
    display: block;
}

.introduction2 {
    background-color: #4F585B;
    height: 22rem;
    margin-top: -2rem;
    width: 100%;
}

.introduction2 h2 {
    color: #F4F4F4;
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
}

.introduction2 p {
    color: #F4F4F4;
    line-height: 2.3rem;
    font-family: 'Montserrat-Thin';
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    font-size: 1rem;
    text-align: left;
}


.homecontent {
    background-color: #F4F4F4;
    background-image: url('images/cityhall.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #F4F4F4;
    height: 25rem;
    padding-top: 1rem;
}


.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    gap: 4rem;
    
}

.homecontent button {
    padding: 1rem;
    background-color: #D8Dbd8;
    font-family: 'PlayfairDisplay-Bold';
    font-size: 1rem;
    border: 0.6rem;
    box-shadow: 6px 6px 3px grey;
    color: #4F585B;
    width: 200px;
}

.introduction h1 {
    font-size: 2rem;
}

/* Media query for content on home page  */

@media screen and (min-width: 460px) {


    .introduction2 p {
        font-size: 1.3rem;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 0.7rem;
        line-height: 2.3rem;
        text-align: left;
    }

}

@media screen and (min-width: 700px) {


    .introduction2 h2, .introduction2 hr {
        grid-area: sidebar;
    }

    .introduction2 h2 {
        font-size: 3rem;
        text-align: center;
        padding-top: 5rem;
        padding-left: 4rem;
    }

    .introduction2 hr {
        display: hidden;
    }

    .introduction2 p {
        font-size: 1.4rem;
        padding-top: 3.3rem;
        margin-bottom: 3rem;
        line-height: 2.5rem;
        margin-left: 2rem;
        grid-area: main;
    }

    .introduction2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'sidebar main main';
        column-gap: 2rem;
    }

    .homecontent {
        background-color: #F4F4F4;
        background-image: url('images/cityhall2.png');
        background-position: right;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 50%;
        background-color: #F4F4F4;
    }


}



/* About */



.about {
    background-color: #D8Dbd8;
    margin-bottom: -18px;
}

.about-intro {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.about-intro h1 {
    text-align: center;
    color: #4F585B;
    text-shadow: 1px 1px 1px darkgrey;
}

.about-intro img {
    background-color: #D8DBD8;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.about-intro img {
    padding-top: 2rem;
}

#arrow img {
    position: absolute;
    opacity:0;
}

.aboutcontent p {
    padding-top: 2rem;
    font-family: 'Montserrat-Light';
    font-size: 1.3rem;
    line-height: 2.6rem;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
    color: #4F585B;
}

.about {
    padding-bottom: 4rem;
}

/* Media query for about page */

@media screen and (min-width: 600px) {

.about-intro h1 {
    grid-area: title;
}

.about-intro img {
    grid-area: img;
}

.about-intro {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-template-areas:
    'title img';
    column-gap: 1rem;
}

.about-intro img {
    width: 70%;
    display: flex;
    justify-content: right;
    align-items: right;
    padding-left: 4rem;
}

.about-intro hr {
    opacity: 0;
}

.about-intro h1 {
    padding-left: 3.5rem;
    padding-top: 0.8rem;
    font-size: 3rem;
    text-align: left;
}

#arrow img {
    opacity: 1;
    position: absolute;
    top: 210px;
    left: 80px;
    width: 40%;
    background-color: transparent;
}

}


/* Resume */

.resume {
    padding-top: 2rem;
    margin: 0 auto;
}

.resume h1 {
    color:#4F585B;
    text-align: center;
    font-family: 'PlayfairDisplay-Regular';
    text-shadow: 1px 1px 0.8px darkgrey;
}

.resume h3 {
    text-align: center;
    color: #4F585B;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #D8Dbd8;
    box-shadow: 1px 1px 3px darkgrey;
}

.resume p {
    
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: 'Montserrat-Light';
    font-size: 0.9rem;
    color: #4F585B;
}

.resume h4, h5 {
    color: #4F585B;
    font-family: 'Montserrat-Light';
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;

}
.resume p {
    line-height: 2rem;
}

#hr-resume {
    padding: 1.3rem;
}

.resume li {
    line-height: 1.3rem;
    font-family: 'Montserrat-Light';
    font-size: 0.9rem;
    margin-left: -5px;
    margin-right: 1rem;
    line-height: 2rem;
    list-style-type: none;
    padding-bottom: 0.3rem;
}

.items {
  display: flex;
  flex-wrap: wrap;
  columns: 2;
}

.items .item {
  flex: 50% 50%;
  box-sizing: border-box;
}

.member {
    padding-bottom: 2rem;
}


/* Media Query for Resume */

@media screen and (min-width: 650px) {

    .resume h1 {
        font-size: 2.5rem;
    }
    
    .resume h3 {
        font-size: 2rem;
    }

    .resume p {
        font-size: 1.2rem;
        line-height: 2.3rem;
        margin-left: 2rem;
        
    }

    .resume li {
        line-height: 1.3rem;
        font-family: 'Montserrat-Light';
        font-size: 1.2rem;
        margin-left: -5px;
        margin-right: 1rem;
        line-height: 2rem;
        list-style-type: none;
        padding-bottom: 0.3rem;
    }

    .resume h4 {
        font-size: 1.4rem;
        margin-left: 2rem;
        margin-right: 1rem;
        font-weight: bold;
    }

    .resume h5 {
        font-size: 1.2rem;
        margin-left: 2rem;
        margin-right: 1rem;
        font-weight: bold; 
    }
}

.resume h1 {
    grid-area: header;
}

.education {
    grid-area: education;
    grid-row-end: span 2;
}

.projects {
    grid-area: projects;
}

.projects2 {
    grid-area: projects2
}

.skills {
    grid-area: skills;
}

.work {
    grid-area: work;
}

.coursework {
    grid-area: coursework;
}

.honors {
    grid-area: honors;
}

.member {
    grid-area: member;
}

@media screen and (min-width: 768px) {
    .resume {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        'header header'
        'education projects'
        'skills work'
        'coursework honors'
        'member .';
        gap: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }



}

/* Work */

.workcontent {
    padding-top: 2rem;
    background-color: #4F585B;
    width: 100%;
    margin-bottom: -20px;
}

.workcontent h2 {
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: underline #bbdc4c;
}

h2:hover {
    color: #D8DBD8;
}

.worktitle h1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #4F585B;
    text-align: center;
    font-family: 'PlayfairDisplay';
}


.worktitle {
    grid-area: title;
    background-color: #D8DBD8;
}

.caption h2, .caption2 h2 {
    color: #F4F4F4;
    text-align: center;
    font-family: 'Montserrat-Thin';
    font-size: 1.3rem;
}

.caption2 h2 {
    padding-bottom: 3rem;
}

.workcontent img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 1rem;
}

.workcontainer1 {
    grid-area: philm;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.workcontainer2 {
    grid-area: pr;
    padding-top: 5rem;
    padding-bottom: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 600px) {

    .worktitle h1 {
        font-size: 3rem;
    }

    .workcontent img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding: 1rem;
      }

      .prlogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 85%;
        padding: 1rem;
      }

      .caption h2, .caption2 h2 {
          font-size: 2rem;
      }
}


@media screen and (min-width: 900px) {
    .workcontent {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        'title title'
        'philm pr';
        gap: 1rem;
    }

}

.prlogo img {
    width: 70%
}

/* Philm Page */

.back {
    margin-left: 2rem;
    padding-top: 2.5rem;
}

.philm_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.philm_intro img {
    padding-top: 3.5rem;
    width: 50%;
}


.philm_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.philm_content p {
    font-family: 'Montserrat-Light';
    color: #4F585B;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.philm_content img {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}



/* PR Page */

.pr_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.pr_intro img {
    padding-top: 3.5rem;
    width: 50%;
}


.pr_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pr_content h1 {
    text-align: center;
}

.pr_content p {
    font-family: 'Montserrat-Light';
    color: #4F585B;
    line-height: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem; 
}

.pr_content img {
    width: 80%;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.footer {
    background-color: #4F585B;
    height: 6rem;
}

.footer p {
    color: #F4F4F4;
    font-family: 'Montserrat-Light';
    text-align: center;
    padding-top: 2rem;
}

.footer  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}


